/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&family=Vazir:wght@400&display=swap');

body {
    font-family: 'Merriweather', serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

/* 3D Text Style */
.poem-content {
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Add a subtle 3D shadow effect */
}

.persian {
    text-align: right;
    font-family: 'Vazir', sans-serif; /* Use a beautiful Persian font */
    direction: rtl; /* Right-to-left direction for Persian text */
}

.english {
    text-align: left;
    font-family: 'Merriweather', serif; /* Use a beautiful English font */
}

/* Additional styles for the poems */
.poem-content p {
    margin: 5px 0;
    line-height: 1.6; /* Increase line height for better readability */
}

/* Link styles */
a {
    color: #007BFF; /* Change link color to a blue shade */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold; /* Make links bold */
}

a:hover {
    text-decoration: underline; /* Underline links on hover */
    color: #0056b3; /* Darker shade on hover */
}

strong {
    font-weight: bold;
}